<h1>
    <button (click)="back()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Edit Film</span>
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" required matInput placeholder="Enter film name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Company</mat-label>
        <mat-select formControlName="companyId" required placeholder="Pick company from list">
            @for (i of companies; track i.id) {
                <mat-option [value]="i.id">
                    {{i.name}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Year</mat-label>
        <input formControlName="year" matInput type="number" placeholder="0" required="" placeholder="Enter year of film">
    </mat-form-field>


    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" required placeholder="Pick category from list">
            @for (i of categories; track i.id) {
                <mat-option [value]="i.id">
                    {{i.name}}
                </mat-option>
                }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>ImageUrl</mat-label>
        <input formControlName="imageUrl" matInput placeholder="Enter film ImageUrl">
    </mat-form-field>
    <div class="buttons-block">
        <button type="reset" mat-raised-button>Cancel</button>
        <button type="submit" mat-raised-button color="accent">Create</button>
    </div>
</form>