<h1>Welcome to FreeCinema</h1>
<div class="container">
    <a routerLink="/films">
        <div>
            <img src="../../assets/view-film-list.jpg" alt="">
            <span>Film List</span>
        </div>
    </a>
    <a>
        <div>
            <img src="../../assets/view-categories-list.jpg" alt="showCategories">
            <span>Categories list</span> 
        </div>
    </a>     
    <a>
        <div>
            <img src="../../assets/view-companies-list.jpg" alt="showCompanies">
            <span>Companies list</span>  
        </div>
    </a>   
</div>